.st-accordion {
  width: 100%;
  min-width: 270px;
  margin: 0 auto;
}

.st-accordion ul li {
  height: 100px;
  border-bottom: 1px solid #c7deef;
  border-top: 1px solid #fff;
  overflow: hidden;
}

.st-accordion ul li:first-child {
  border-top: none;
}

.st-accordion ul li>a {
  font-family: 'Josefin Slab', Georgia, serif;
  font-size: 3vmax;
  display: block;
  position: relative;
  line-height: 100px;
  outline: none;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.st-accordion ul li>a:hover {
  color: #1693eb;
}

.st-accordion ul li>a span {
  background: transparent url("../bg/down.png") no-repeat center center;
  text-indent: -9000px;
  width: 26px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: -26px;
  margin-top: -7px;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.st-accordion ul li>a:hover span {
  opacity: 1;
  right: 10px;
}

.st-accordion ul li.st-open>a {
  color: #1693eb;
}

.st-accordion ul li.st-open>a span {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 10px;
  opacity: 1;
}

.st-content {
  padding: 5px 0 30px;
}

.st-content p {
  font-size: 2.5vmax;
  font-family: Georgia, serif;
  line-height: 1;
  padding: 0 4px 15px;
}

.st-content img {
  width: 125px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.blurBlackBg {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3vmax;
}

body {
  font-family: 'Arial Narrow', Arial, sans-serif;
  padding: 2vmax;
}

a {
  color: rgb(0, 174, 255);
  text-decoration: none;
}

.fake {
  color: rgb(0, 174, 255);
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.w75 {
  width: 75%;
}


.titleText {
  font-size: 4vmax;
  text-align: center;
}

.header {
  height: 7vmax;
  line-height: 0.2;
  overflow: auto;
}

.fullHeight {
  height: 100%;
}

.subtitle {
  text-align: center;
}

button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 40px;
  background-color: white;
  color: black;
  border: 2px solid purple;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#light:hover {
  border: 2px solid white;
  background-color: #FFF;
  color: black;
}

#dark:hover {
  border: 2px solid black;
  background-color: #000;
  color: white;
}

#toggle:hover {
  background-color: black;
  color: white;
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%);
}

#toggle:hov

html {
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.lightHtml {
  background: black url(/static/bg/1.jpg) no-repeat center center fixed;
}

.lightText {
  color: black;
}

.lightContent {
  color: white;
}

.lightOpaq {
  background-color: rgba(255, 255, 255, 0.4);
}

.darkText {
  color: white;
}

.darkContent {
  color: black;
}

.darkOpaq {
  background-color: rgba(0, 0, 0, 0.4);
}

.white {
  color: white;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}

.preloader {
  position: fixed;
  right: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  bottom: 0;
  z-index: 1000;
}