html {
    background: url(/static/bg/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
}

p {
    font-family: Yu Gothic;
}

textarea {
    resize: none;
}

input {
    color: black;
}

.titleText {
    font-size: 4vmax;
    color: black;
    margin-bottom: 1vmax;
}

hr {
    width: 75%;
}

.white {
    color: white;
}

#blurBlackBg {
    background-color: rgba(0, 0, 0, 0.4);
}

.blurBlackBg {
    background-color: rgba(0, 0, 0, 0.4);
}

#blurWhiteBg {
    background-color: rgba(255, 255, 255, 0.1);
}

.fullFlexScreen {
    align-items: center;
    justify-content: space-around;
    height: 100vh
}

.flexDef {
    display: flex;
}

.centerBlack {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.pad2 {
    padding: 2vmax;
}

.margTopAuto {
    margin-top: auto;
}

.flexDirCol {
    flex-direction: column;
}

.fullHeight {
    height: 100vh;
}

.fullPercentHeight {
    height: 100%;
}

.noMargin {
    margin: 0;
}

.alignTcenter {
    text-align: center;
}