html {
    background: url(/static/bg/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
}

.marg5 {
    padding: 5;
}

p {
    font-family: Yu Gothic;
}

.id_table {
    empty-cells: show;
    border-collapse: separate;
    border-spacing: 10vw 0vh;
    font-size: 1.5vmax;
    font-family: yu gothic;
    line-height: 1;
}

textarea {
    resize: none;
}

input {
    color: black;
}

#guessform {
    border-spacing: 10vw 3vh;
}

.main,
.even,
.odd {
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.centering {
    justify-content: center;
}

.contAround {
    justify-content: space-around;
}

.center {
    align-content: center;
    align-self: center;
}

.flexDef {
    display: flex;
}

.vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mini {
    font-size: 2vmax;
}

.horizon {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.right {
    flex-direction: column;
    font-size: 2vmax;
    line-height: 1.5;
}

.grey {
    color: black;
    opacity: 0.5;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.robotoCondensed {
    font-family: roboto condensed;
}

.mainText {
    font-size: 5vmax;
    color: white;
    text-align: center;
    z-index: 30;
}

.titleText {
    font-size: 4vmax;
    color: black;
    margin-bottom: 1vmax;
}

.mini {
    color: black;
    opacity: 0.5;
    margin: 0;
    font-size: 1.5vmax;
}

.even {
    background-color: hsla(0, 0%, 100%, .7);
}

.odd {
    opacity: 0.8;
    background-image: linear-gradient(180deg, #0b275b, #122146 50%, #4a1e4b);
}

.bloaterRight {
    right: 1%;
    width: 10%;
    min-width: 50px;
    border-radius: 50%;
    opacity: 0.8;
}

.bloaterRight.hoverable:hover {
    opacity: 1;
    border: 1px solid gold;
}

.pox {
    position: fixed;
}

.separator {
    width: 50%;
    border: 0.1vmax solid black;
}

.separator.white {
    border: 0.1vmax solid white;
}

.titleLayout {
    justify-content: center;
    align-items: center;
    height: 25%;
}

.bodyPart {
    justify-content: space-around;
    align-items: center;
    height: 75%;
    flex-wrap: wrap;
}

.achievementBox {
    background-color: white;
    border-radius: 20px;
    height: 24vmax;
    width: 22vmax;
    text-align: center;
    padding: 1vmax;
}

.achievement_text {
    font-size: 1.5vmax;
    line-height: 1.5;
}

.ac_title {
    font-size: 2vmax;
}

hr {
    width: 75%;
}

.white {
    color: white;
}

.SkillBox {
    background-color: white;
    padding: 1vmax;
    opacity: 0.8;
    height: 30vmax;
    width: 30vmax;
    font-size: 1.5vmax;
    text-align: center;
}

.skillTitle {
    font-family: roboto Condesed;
    font-size: 2vmax;
    border-bottom: 0;
}

.end {
    height: 13vmax;
    opacity: 0.8;
    background-color: rgb(27, 0, 78);
    width: 100%;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
}

.ender {
    text-decoration: none;
}

.endNoteTitle {
    margin-bottom: 0;
    font-size: 2.5vmax;
}

.endInfo {
    font-size: 1.5vmax;
}

.wrap {
    flex-wrap: wrap;
}

#circle {
    bottom: 2%;
    z-index: 100;
}

#avatar {
    width: 20vmax;
    height: 20vmax;
    border-radius: 50%;
}

#mail {
    color: red;
}

#fb {
    color: blue;
}

#line {
    color: rgb(77, 247, 77);
}

#whatsapp {
    color: rgb(0, 255, 128);
}

#Instagram {
    color: brown;
}

#achievementContainer {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

#guessbg {
    opacity: 0.4;
}

.django-table {
    empty-cells: show;
    border-collapse: separate;
    border-spacing: 10vw 2vh;
    font-size: 1.5vmax;
    font-family: yu gothic;
    line-height: 1;
}

.django-table th {
    color: white;
    text-align: left;
    flex: 1;
}

.schebox {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: white;
    opacity: 0.8;
    width: 30%;
    min-width: 200px;
    height: 20vmax;
    min-height: 200px;
}

.forming {
    padding: 2vmax;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scheTitle {
    width: 100%;
    height: 100%;
}

.scheTextTitle {
    margin: 0;
    font-size: 2vmax;
}

.scheContent {
    height: 100%;
    width: 100%;
}

#scheTable {
    font-size: 1.5vmax;
    border-collapse: separate;
    border-spacing: 2vw 1vh;
}

#redCoral {
    background: #FF0000;
    font-size: 2vmax;
}

#redCoral:hover {
    background: #902020;
}

.halfScreen {
    width: 50vmax;
    height: 100%;
}

.flexend {
    align-self: flex-end;
}

#blurBlackBg {
    background-color: rgba(0, 0, 0, 0.4);
}

#blurWhiteBg {
    background-color: rgba(255, 255, 255, 0.1);
}

.fullHeight {
    height: 100vh;
}