.modal-body {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
}

.menu {
    font-size: 3vmax;
    line-height: 2;
    text-decoration: none;
    color: cyan;
    cursor: pointer;
}

.menu:focus {
    font-size: 3vmax;
    line-height: 2;
    text-decoration: none;
    color: cyan;
    cursor: pointer;
}

.menu:hover {
    color: yellow;
    text-decoration: none;
}

.halfNav {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
}

.vl {
    border-left: 2px solid green;
    height: 100%;
}

.bloaterRight {
    right: 1%;
    width: 10%;
    min-width: 50px;
    border-radius: 50%;
    position: fixed;
    opacity: 0.8;
}

#navig {
    width: 6vmax;
    top: 2%;
    right: 1%;
    z-index: 1051;
}

.bloaterRight.hoverable:hover {
    opacity: 1;
    border: 1px solid gold;
}