html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
}

.fullContainer {
    position: absolute;
    background-color: rgb(255, 255, 255);
    background-image: url("../bg/bg.png");
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 0;
}

#demo-canvas {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.white {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.363);
    width: auto;
    height: auto;
    min-width: 100px;
    min-height: 150px;
    background-color: white;
    padding: 0 15px 15px 15px;
}

.login {
    height: 20vmax;
    width: 20vmax;
    border: 1px solid black;
    border-radius: 10px;
}

.g-signin2 {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}