{% extends 'head.html' %} {% load static %} {% block content %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-body">
        <p>
            <a class="menu" id="menu1" href="index">Home</a>
            <br>
            <a class="menu" id="menu2" href="big8">Friends</a>
            <br>
            <a class="menu" id="menu3" href="guest-book">Guest Book</a>
            <br>
            <a class="menu" id="menu3" href="forming">Forming</a>
        </p>
    </div>
</div>

<section class="main" id="core">
    <section class="main centering  flex1">
        <p class="titleText robotoCondensed white">
            Guest Book
            <hr>
        </p>
    </section>
    <form class="main flex2">
        <table id="guessform" class="id_table">
            <tr>
                <td>
                    <p class="white">
                        Name
                    </p>
                </td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="white">
                        Date
                    </p>
                </td>
                <td>
                    <input type="date" name="date">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="white">
                        Email
                    </p>
                </td>
                <td>
                    <input type="email" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="white">
                        Subject
                    </p>
                </td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="white">
                        Message
                    </p>
                </td>
                <td>
                    <textarea type="" name="message" cols="20" rows="4"></textarea>
                </td>
            </tr>

        </table>
        <input type="submit" value="Submit">
        <br>
    </form>

</section>
{% endblock %}